<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="AKiGXxtd5GUDZVcXcXEa5A5AbAvuyzBf8Ejdt-OH0xI" />
    <script data-goatcounter="https://seongmin.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>
    <title>{{ site.title }}</title>

    <style>
      .my-list {
        list-style-type: none;
        padding-left: 0;
      }

      .my-list li {
        padding-bottom: 10px;
        border-top: 1px solid #eee;
        padding-top: 15px;
        position: relative;
      }

      .my-list a {
        text-decoration: none;
        color: inherit;
        transition: color 0.2s;
      }

      .my-list a:hover {
        color: #0088cc;
      }

      .emph {
          font-size: 1.1em;
          margin-bottom: 5px;
      }
    </style>
    
    <script>
      MathJax = {
        tex: {
          inlineMath: [['$', '$'], ['\\(', '\\)']],
          displayMath: [['$$', '$$'], ['\\[', '\\]']]
        }
      };
    </script>
    <script async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</head>
<body>
    {% include nav.html %}
    <div style="max-width: 800px; margin: 0 auto; padding: 20px;">
        
        {{ content }}
        
    </div>
</body>
</html>
