<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="AKiGXxtd5GUDZVcXcXEa5A5AbAvuyzBf8Ejdt-OH0xI" />
    <script data-goatcounter="https://seongmin.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>
    <title>{{ site.title }}</title>
    
    <script>
      MathJax = {
        tex: {
          inlineMath: [['$', '$'], ['\\(', '\\)']],
          displayMath: [['$$', '$$'], ['\\[', '\\]']]
        }
      };
    </script>
    <script async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</head>
<body>
    {% include nav.html %}
    <div style="max-width: 800px; margin: 0 auto; padding: 20px;">
        
        {{ content }}
        
    </div>
</body>
</html>
